.pagination > li > a {
  background-color: #282c34;
  color: white;
}

.card-img {
  transition: 200ms transform ease-in-out;
}

.card:hover > .card-img {
  transform: scale(1.05);
  opacity: 0.6;
}

.list-group-item.text-grey {
  color: rgb(211, 211, 211);
}
